@import url('https://fonts.cdnfonts.com/css/geomanist');
@import '../js/jqueryui/jquery-ui.min.css';
@import '../js/slick/slick.css';
@import '../js/swiper.min.css';
@import '../js/chosen/chosen.css';
@import '../js/tooltip/tooltip.css';
@import '../js/unitegallery/css/unite-gallery.css';
@import '../js/unitegallery/themes/default/ug-theme-default.css';

@tailwind base;
@tailwind utilities;
@tailwind components; 

@font-face {
    font-family: 'Cirka';
    src: url('../../public/fonts/Cirka-Variable.ttf') format('ttf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@layer components {
    html,
    body {
        @apply transition-all duration-[0.2s] ease-[ease-in];
    }
    html, body {
        @apply not-italic font-normal overflow-x-hidden mr-[calc(-1_*_(100vw_-_100%))] transition-all duration-[0.2s] ease-[ease-in] text-primary; 
    }
    .row {
        @apply w-full max-w-[1541px] m-auto grid grid-cols-12 gap-4 lg:gap-10 md:px-10 px-5;
    } 
    .fullwidth-col {
        @apply lg:col-span-12 md:col-span-12 col-span-12;
    } 
    p {
        @apply text-base leading-[120%] mb-3.5 font-normal;
    }
    a {
        @apply transition-all duration-[0.2s] ease-[ease-in] hover:transition-all hover:duration-[0.2s] hover:ease-[ease-in];
    } 
    h1 {
        @apply text-[36px] md:text-h1 font-light leading-[120%] tracking-[-1.12px] mb-3.5;
    }
    h2 {
        @apply text-lead md:text-h2 font-light leading-[120%] tracking-[-1.12px] mb-3.5;
    }
    h3 {
        @apply text-[28px] md:text-[44px] font-light leading-[110%] tracking-[-0.88px] mb-3.5;
    }
    h4 {
        @apply text-base md:text-md font-bold md:font-semibold leading-[110%] tracking-normal mb-3.5;
    }
    h5 {
        @apply text-base font-semibold leading-[110%] tracking-normal mb-3.5;
    }
    .with-hover-animation {
        @apply w-full h-full overflow-hidden bg-[#000000];
    }
    .with-hover-animation img {
        @apply object-cover w-full h-full object-center scale-100 hover:scale-[1.03] hover:opacity-95 hover:ease-in-out hover:duration-1000 ease-in-out duration-1000;
    }
    ul.slick-dots {
        @apply text-center mt-[-30px] z-[111] relative mb-0;
    }
    .slider-with-dots .slick-dots {
        @apply ml-0;
    }
    .slider-with-dots .slick-dots button {
        @apply text-transparent h-0 cursor-pointer p-0 bg-[none];
    }
    .slider-with-dots .slick-dots li {
        @apply inline-block w-[17px] h-[17px] mx-0.5 rounded-lg bg-[#b9c5d1] opacity-25;
    }
    .slider-with-dots .slick-dots li.slick-active {
        @apply bg-[#b9c5d1] opacity-100;
    }
    .slider-with-dots ul.slick-dots { 
        @apply text-center z-[111] relative mt-10 -mb-5;
    }
    .testimonial-slider ul.slick-dots {
        @apply !text-left !mt-[-15px] lg:!mt-[-133px] !absolute ml-[225px] lg:ml-0;
    }
    .explore-neighborhood-slider ul.slick-dots {
        @apply !text-center items-center justify-center left-6 right-6 flex !absolute;
    } 
    .explore-neighborhood-slider .slick-dots li {
        @apply inline-block !w-[9px] min-w-[9px] min-h-[9px] !h-[9px] mx-0.5 rounded-lg bg-primary opacity-35;
    }
    .explore-neighborhood-slider .slick-dots li.slick-active {
        @apply bg-primary opacity-100;
    } 
    .articleSlider ul.slick-dots {
        @apply !text-right items-center justify-center !left-[unset] right-0 !mt-[-17px] flex !absolute;
    } 
    .articleSlider .slick-dots li {
        @apply inline-block !w-[9px] min-w-[9px] min-h-[9px] !h-[9px] mx-0.5 rounded-lg bg-primary opacity-35;
    }
    .articleSlider .slick-dots li.slick-active {
        @apply bg-primary opacity-100;
    }
    .explore-homes-slider ul.slick-dots {
        @apply !text-right !mt-[-45px] right-6 flex !absolute;
    } 
    .explore-homes-slider .slick-dots li {
        @apply inline-block !w-[9px] min-w-[9px] min-h-[9px] !h-[9px] mx-0.5 rounded-lg bg-[#b9c5d1] opacity-35;
    }
    .explore-homes-slider .slick-dots li.slick-active {
        @apply bg-[#f8f8f9] opacity-100;
    }
    .recent-homes-slider ul.slick-dots {
        @apply !text-right !mt-[-205px] right-[unset] left-6 flex !absolute;
    } 
    .recent-homes-slider .slick-dots li {
        @apply inline-block !w-[9px] min-w-[9px] min-h-[9px] !h-[9px] mx-0.5 rounded-lg bg-[#b9c5d1] opacity-35;
    }
    .recent-homes-slider .slick-dots li.slick-active {
        @apply bg-[#f8f8f9] opacity-100;
    }
    .teams-slider ul.slick-dots {
        @apply !text-right !mt-[50px] right-0 left-[unset] flex !absolute;
    } 
    .teams-slider .slick-dots li { 
        @apply inline-block !w-[10px] min-w-[10px] min-h-[10px] !h-[10px] mx-0.5 rounded-lg bg-primary opacity-20;
    }
    .teams-slider .slick-dots li.slick-active {
        @apply bg-primary opacity-100;
    } 
    .homeItemBlock {
        @apply relative;
    } 
    .homeItemBlock img {
        @apply min-h-[402px] md:min-h-[unset] w-full h-full object-cover rounded-[5px] md:rounded-none;
    }
    .homeItemBlock .contentHolder {
        @apply opacity-0 absolute inset-x-0 inset-y-0 shadow-[0px_3px_15px_#000000] bg-primary/80 transition-all duration-[0.2s] ease-[ease-in] flex flex-col justify-between p-6;
    }
    .homeItemBlock:hover .contentHolder {
        @apply transition-all duration-[0.2s] ease-[ease-in] opacity-100;
    }
    .homeItemBlock .contentBlock {
        @apply absolute -translate-y-2/4 m-0 top-2/4 shadow-[0px_3px_15px_#000000] inset-x-0 bg-primary/80 p-6 min-h-[136px] flex flex-col gap-[35px] justify-between;
    }
    .homeItemBlock:hover .homeNameOverlay {
        @apply opacity-0 pointer-events-none;
    }
    .headerLinks a.active, .headerLinks a:hover {
        @apply text-[#B9C5D1];
    }
    .headerLinks a {
        @apply text-[13px];
    }
    .blockOne::before {
        @apply z-[-1] content-[""] absolute w-[183px] md:w-[130px] lg:w-[252px] h-[94px] md:h-[103px] lg:h-[130px] right-[6px] top-[-45px] lg:top-[-10px] bg-[#b9c5d1];
    }
    .blockTwo::before {
        @apply z-[-1] content-[""] absolute w-[44px] md:w-[65px] lg:w-[44px] h-[252px] md:h-[155px] lg:h-[252px] left-[-20px] md:left-[20px] lg:left-[-10px] top-[-25px] md:top-[-10px] bg-[#dfe6ee];
    }
    .blockThree::before {
        @apply z-[-1] content-[""] absolute w-[252px] md:w-[130px] lg:w-[252px] h-[111px] md:h-[104px] lg:h-[111px] left-0 lg:left-[30px] top-[67px] lg:top-[87px] bg-[#f8f8f9]; 
    } 
    .blockFour::before {
        @apply z-[-1] content-[""] absolute w-[149px] md:w-[99px] lg:w-[174px] h-[355px] md:h-[207px] lg:h-[391px] left-[-5px] md:left-[-40px] lg:left-[-84px] xxl:left-[-60px] top-[-55px] md:top-[-35px] lg:top-[-80px] bg-[#0e202c];  
    } 
    .blockFive::before {
        @apply z-[-1] content-[""] absolute w-[156px] md:w-[130px] lg:w-[252px] h-[211px] md:h-[111px] lg:h-[216px] right-[20px] lg:right-[60px] top-[-20px] bg-[#ced4db]; 
    } 
    .contentBlock p {
        @apply text-[11px] md:text-xs lg:text-md leading-[180%] mb-8;
    }
    .contentBlock p:last-child {
        @apply !mb-0;
    }
    .blog-content {
        @apply w-full;
    }
    .blogContentBlock p {
        @apply text-[11px] md:text-xs lg:text-md mb-6 leading-[180%];
    }
    .blogContentBlock p:last-child {
        @apply !mb-0;
    }
    .timeList .item {
        @apply col-span-1 bg-primary/10 rounded-[10px] flex justify-center items-center hover:bg-primary  hover:text-white cursor-pointer h-[41px] md:h-[46px] lg:h-[50px];
    }
    .timeList .item.active {
        @apply hover:bg-primary hover:text-white;
    }
    .formBtnHollow, .formBtnSolid {
        @apply h-[54px] md:h-[61px] flex items-center justify-center text-xs lg:text-s border-primary border-solid border rounded-[5px];
    }
    .formBtnHollow {
        @apply hover:bg-primary hover:text-white bg-white text-primary;
    }
    .formBtnSolid {
        @apply bg-primary text-white hover:bg-white hover:text-primary;
    }
    .datepicker-picker {
        @apply w-full !p-0 !shadow-none !bg-transparent;
    }
    .datepicker-picker {
    @apply w-full;
    }
    .datepicker-view .days {
    @apply w-full mt-[46px];
    }
    .datepicker-main {
    @apply p-0;
    }
    .datepicker-view {
    @apply w-full;
    }
    .days-of-week {
        @apply gap-5 !mb-[30px];
    }
    .days-of-week span {
        @apply text-sm text-[#0e202c] opacity-[0.22];
    }
    .datepicker-grid {
    @apply w-full gap-[26px_20px];
    }
    .datepicker-grid span {
    @apply w-9 h-9 rounded-[50px] bg-primary/10 hover:bg-primary hover:text-white text-center flex items-center justify-center text-[11px] md:text-[13px] lg:text-base;
    }
    .datepicker-grid span.focused {
        @apply bg-primary text-white
    }
    .datepicker-controls {
        @apply relative h-10;
    }
    .datepicker-controls button.prev-btn {
    @apply absolute right-[59px];
    }
    .datepicker-controls button.next-btn {
        @apply absolute right-0;
    }
    .datepicker-controls button {
    @apply w-[39px] h-[39px] text-center rounded-[100%] bg-primary;
    }
    .datepicker-controls button svg {
        @apply !text-white; 
    }
    .datepicker-controls button.view-switch {
        @apply text-primary !w-auto absolute text-s md:text-[17px] lg:text-lg !left-0 !bg-transparent;
    }    
    .optionItem {
        @apply bg-[#f8f8f9] border text-primary border-solid border-[#707070] rounded-[5px] hover:border-primary  hover:bg-primary hover:text-white h-[50px] lg:h-[65px] text-xxs lg:text-xs flex items-center justify-center transition-all duration-[0.2s] ease-[ease-in] hover:transition-all hover:duration-[0.2s] hover:ease-[ease-in] cursor-pointer;
    }
    .optionItem.active {
        @apply bg-primary text-white border-primary;
    }
}   

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Geomanist', sans-serif;
}

.font-cirka {
    font-family: 'Cirka';
}

.filterBtn:hover svg {
    filter: brightness(0) invert(1);
    transition: all 0.25s ease-in-out;
}
.drawer-side {
    z-index: 11 !important;
}
.teams-slider .slider-item {
    margin-right: 6px;
    min-width: 100px;
}
.teams-slider .slick-list{padding:0 80% 0 0 !important;}
.textGradient {
    background-image: -webkit-linear-gradient(0deg, #ffffff 22%, #0E202C 0%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.explore-neighborhood-slider .slider-item {
    transform: scale(0.8);
    overflow: hidden;
}
.explore-neighborhood-slider .slider-item.slick-center {
    transform: scale(1) !important;
}
.explore-neighborhood-slider .slick-list{padding:0 20% 0 20% !important;}
.min-w-\[32px\] p {
    margin-bottom: 0;
}
.accordion-holder {
    width: 100%;
    border-left: 13px solid #0e202c;
    margin-left: 32px;
    max-width: 989px;
}
.accordion-holder.active {
    border-left: 13px solid #b9c5d1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    margin: 0;
    max-width: unset;
}
.accordion-holder .accordion {
    background-color: #f8f8f9;
    cursor: pointer;
    padding: 26px 28px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    letter-spacing: 2px;
}
.accordion-holder .accordion.active::after {
    content: "";
    position: absolute;
    left: 60px;
    right: 60px;
    height: 1px;
    background: #707070;
    bottom: 0;
}
.accordion-holder .accordion.active {
    padding-left: 60px;
    position: relative;
}
.accordion-holder .panel {
    padding: 24px 60px;
    display: none;
    background-color: #f8f8f9;
    overflow: hidden;
}
.accordion-holder .panel p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 28px;
}
.tab:is(input[type="radio"]) {
    padding: 0;
    border: 0;
    margin-right: 65px;
    background: transparent;
    font-size: 13px;
}
@media only screen and (max-width: 1023px) {
    .accordion-holder {
        width: 100%;
        border-left: 13px solid #0e202c;
        margin-left: 0;
        max-width: 989px;
    }
    .accordion-holder .accordion {
        background-color: #f8f8f9;
        cursor: pointer;
        padding: 22px 20px;
        font-size: 10px;
    }
    .accordion-holder .accordion.active {
        padding-left: 20px;
        position: relative;
    }
    .accordion-holder .panel {
        padding: 24px 20px;
    }
    .accordion-holder .panel p {
        font-size: 10px;
    }
    .accordion-holder .accordion.active::after {
        left: 20px;
        right: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .explore-neighborhood-slider .homeItemBlock {
        min-width: 241px;
        max-height: 241px;
    }
    .bg-path {
        background-size: 56% !important;
    }
    .textGradient {
        background-image: -webkit-linear-gradient(0deg, #ffffff 39%, #0E202C 0%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
}
 